body{
  display:center;
  padding: 20px;
  margin: 20px;
  color: rgb(1, 1, 1);
  text-align: center;
  transition: 2ms;
  background: rgb(140, 137, 137);
  position: relative;
}
.files{
padding:10px;
margin: 20px;
background-color: white;
text-align: center;
width: 200px;
content: center;
align-items: center;
position: center;
font: 300;
font-size: medium;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding-left: 20px;
}
button{
  text-align: center;
  background-color: rgb(0, 34, 255);
  padding: 5px;
  size: 5px;
  color: rgb(255, 255, 255);
}