.button {
  background: #007bff;
  color: white;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.desc {
  font-size: 14px;
  color: black;
  font-weight: 500;
}